.what-can-you__item { 
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 5px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: transform 300ms ease;
}
.what-can-you__item:hover {
    
    
    transform: scale(1.1);
    
}
.what-can-you__item a{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.what-can-you__img {
    height: 200px;
}
.what-can-you__img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px ;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.what-can-you__item__title { 
    font-family: 'GraphikLCG-Semibold', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.what-can-you__item__text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
