.header {
    padding: 5px;
    background: rgb(249,248,228);
    background: linear-gradient(90deg, rgba(249,248,228,1) 0%, rgb(201, 200, 198) 35%, rgba(249,236,227,1) 100%);
}

.header__container {
    display: flex;
    min-height: 95px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    width: 130px;
    margin-right: 151px;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
}

.menu__link {
    margin-right: 57px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #4d4c4c;
}

.header__button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.header__logo_link{
    font-weight: 700;
    font-size: 24px;
    color: hsl(20, 95%, 8%);
    text-shadow: 1px 1px 4px rgb(223, 210, 199);
}

.shop-cart-button{
    cursor: pointer;
    transition: color, transform 500ms ease;
    width: 50px;
    
}

.shop-cart-button:hover,
.shop-cart-button.active{
    color: #f78080;
    transform: scale(1.5);
}

.shop-cart{
    position: absolute;
    padding: 10px;
    padding-bottom: 0;
    z-index: 100;
    top: 120px;
    right: 20px;
    width: 500px;
    min-height: 100px;
    background: #f0eeee;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 18px 5px rgba(161,161,161,0.98); 
    box-shadow: 0px 5px 18px 5px rgba(161,161,161,0.98);
}

.empty{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.summa{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-icon{
    cursor: pointer;
    color: black;
    transition: color, transform 500ms ease;
}

.login-icon:hover,
.login-icon.active{
    color: #f78080;
    transform: scale(1.5);
}

.logout-icon{
    margin-top: 5px;
    cursor: pointer;
    color: black;
    transition: color, transform 500ms ease;
    font-size: 28px;
}
.logout-icon:hover,
.logout-icon.active{
    color: #f78080;
    transform: scale(1.5);
}